/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/*
HEADER
*/
header{
    padding: 20px 0;
}

.header-flex-container{
    display: flex;    
    background-color: #D5A11F;    
}

.header-col-small{
    height: 40px;
    width: calc(100% / 4);
    border: dashed black 1px;
    
}

.header-col-big{
    height: 40px;
    width: calc(100% / 2);
    border: dashed black 1px;
    
}

/*
MAIN
*/


/*section 1*/

.flex-container-sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.first-section{
    background-color: #00008B;
    height: 500px;
    }

.first-box-section-1{
    background-color: #EE82EE;
    border: dashed 1px black;
    height: 380px;
    width: 800px;
}



/*section 2e4*/
.flex-container-sec-2{
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
    
}

.second-section{
    height: 500px;
}

.first-box-section-2{
    background-color: #1E90FF;
    border: dashed 1px black;
    height: 380px;
    width: 40%;
}

.second-box-section-2{
    background-color: #FFC0CB;
    border: dashed 1px black;
    height: 380px;
    width: 60%;
}


/*section 3*/

.flex-container-sec-3{
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
    
}

.third-section{
    background-color: #D3D3D3;
    height: 500px;
}

.first-box-section-3{
    background-color: #FFC0CB;
    border: dashed 1px black;
    height: 380px;
    width: 40%;
}
.second-box-section-3{
    background-color: #1E90FF;
    border: dashed 1px black;
    height: 380px;
    width: 60%;
}


/*section 4*/

.fourth-section{
    height: 500px;
}

/*section 5*/

.fifth-section{
    background-color: #D3D3D3;
    height: 860px;
}

.flex-container-sec-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


.first-box-section-5{
    background-color: #228B22;
    border: dashed 1px black;
    height: 760px;
    width: 100%;
    
}


/*
FOOTER
*/
#line-footer{
    height: 1px;
}

/*BIG*/

.footer-big{
    background-color: #23272A;
    height: 500px;
}

.flex-container-footer-big{
    display: flex;
    margin-bottom: 50px;
    padding-top: 50px;
    
}


.first-box-footer-big{
    background-color: #f08080;
    border: dashed 1px black;
    height: 380px;
    width: calc((100% / 3)*1);
}

.second-box-footer-big{
    background-color: #20B2AA;
    border: dashed 1px black;
    height: 380px;
    width: calc((100% / 3)* 2);
}

.columns-footer-big{
    background-color: #20B2AA;
    border: dashed 1px white;
    height: 380px;
    width: calc(100% / 4);
}

.flex-container-columns-footer-big{
    display: flex;
}



/*SMALL*/

.footer-small{
    background-color: #23272A;
    height: 100px;
}

.flex-footer-small{
    display: flex;
    padding: 20px;
}

.row-footer-small{
    background-color: #7FFFD4;
    height: 80px;
    width: 100%;
}

.flex-columns-footer-small{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columns-footer-small{
    background-color: #f08080;
    height: 30px;
    width: 60px;
    border: dashed 1px black;

}

/*
DEBUG
*/
.debug-header{
    background-color: #ADD8E6;
}
























